model/
models/
data/
datas/
images/
image/
env/
llm_venv/
data_base/
node_modules/
output/
outputs/
uploads/
tmp/
.roo/
.save
.env/
*.png
*.jpg
*.jpeg
*.xml
# *.json
*.pkl
*.pt
*.log
*.pth
*.zip
*.backup
.key
__pycache__/
data*/
low_save/
temp_images/
RAG_Model/scratch/

# Environment variables
.env
*copy*

# Note
Note*

ai_agent_core/build/db.js
ai_agent_core/build/agent.js
ai_agent_core/build/api.js
ai_agent_core/build/auth.js
ai_agent_core/build/db.js
ai_agent_core/build/index.js
api_local_server/build/index.js

ai_agent_core/public/test-api.html
api_server/check_schema.py
backup_temp/
download_minio.bat
minio-data/
minio-server/
package-lock.json
setup_local.bat
sum_doc/

final2.md
package-lock.json
PROJECT_OVERVIEW.md
database_migration_drop_rating_column.sql
database_migration_remove_ratings.sql